/* * {
border: 1px solid red
} */

body {
  background-color: #46424D;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}

.header {
  font-family: 'Montserrat', sans-serif;
  color: #CBC9CF;
  text-align: center;
  font-size: 0.758em;
  padding-top: .0015em;
  padding-bottom: .2em;
}

main {
  display:flex;
  flex-direction: column;
  height: auto;
}

/* Left side of main form */
.header1 {
  background-color: #2B2733;
  font-family: 'Montserrat', sans-serif;
  color: #CBC9CF;
  height: 62.500em;
  width: 63%;
  padding-bottom: 10%;
  padding-left: 2%;
  margin-left: -1%;
  position: relative;
  margin-bottom: -10px;
}

.box1-lead {
  font-size:21px;
}

.boxes {
  background-color: #46424D;
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 37.500em;
  padding: 2% 0 5% 8%;
  margin: 0 36% 0 1%;
  top: -67em;
  position: relative;
}

.active-button-study, .active-button-meditate, .active-button-exercise {
  background-color: #46424D;
  border-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.10em;
  color: white;
  margin-right: 10.4%;
  border-radius: 0.52vh;
  height: 70px;
  width: 180px;
  outline:none;
}

.active-study, .active-meditate, .active-exercise{
  display: block;
  width: 3.5vw;
  height: 2.5vh;
  margin-left: 30%;
  background: transparent;
  padding-bottom: 10px;
}

.active-color-study, .active-color-meditate, .active-color-exercise{
  display: block;
  width: 3.5vw;
  height: 2.5vh;
  margin-left: 30%;
  background: transparent;
  padding-bottom: 10px;
}

.studycolor {
  border-color: #B3FD78;
  color:#B3FD78;
}

.meditatecolor {
  border-color: #C278FD;
  color:#C278FD;
}

.exercisecolor {
  border-color:#FD8078;
  color:#FD8078;
}

.accomplish{
  font-size: 0.813em;
}

.description {
  font-family: ‘Montserrat’, sans-serif;
  font-size: 1.5em;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-bottom-color: white;
  border-bottom-width: thin;
  width: 90%;
  padding: 1.5% 0 0 0;
  outline: none;
  box-shadow:none;
}

.warning {
  width: 3.5vw;
  height: 2.5vh;
}

.minutes-label {
  margin-bottom: 55px;
  margin-right: -85px;
  font-size: 21px;
}

.minutes {
  font-family: ‘Montserrat’, sans-serif;
  font-size: 1em;
  color: white;
  width: 38%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-bottom-color: white;
  border-bottom-width: thin;
  padding-top: 10%;
  outline: none;
  box-shadow: none;
}

.seconds-label {
  margin-bottom: 40px;
  margin-left: 115px;
  margin-right: -90px;
  font-size: 21px;
}

.seconds {
  font-family: ‘Montserrat’, sans-serif;
  font-size: 1em;
  color: white;
  width: 40%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-bottom-color: white;
  border-bottom-width: thin;
  padding-top: 10%;
  outline: none;
  box-shadow: none;
}

.visibility-hidden {
  visibility: hidden;
  }


.input {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: flex-start;
  margin-top: 5.000em;
}

.start-activity {
  border-radius: 4px;
  text-align: center;
  width:11vw;
  height: 2.5vw;
  font-size: 18px;
  margin-bottom: 8vh;
  padding: 0;
  margin-top: 65px;
  margin-left: 540px;
  outline: none;
}

/* Right side of main form */
.boxes2 {
  background-color: #2B2733;
  color: #CBC9CF;
  font-family: 'Montserrat', sans-serif;
  height: 78.4em;
  width: 34%;
  padding-left: 2%;
  left: 64.05%;
  position: absolute;
}

.none-logged-text {
  text-align: center;
  font-size: 18px;
  padding-top: 25px;
}

.box2-lead {
  font-size: 24px;
}

.activities-wrapper {
  /* background-color: #2B2733; */
  width: 70%;
  height: 100%;
  padding-bottom: 4%;
  padding-left: 3%;
}

.activity-card {
  background-color: #46424D;
  width: 125%;
  height: 8vh%;
  padding-bottom: 4%;
  padding-left: 3%;
}

/* .category-color {
  border-left: 6px solid #9370DB; 
  height: 2em; 
  position:absolute; 
  top: 7%; 
  left: 90%;
  width: 80%;
  height: 8vh%;
  padding-bottom: 4%;
  padding-left: 3%;
  } */

.card-minutes {
  border-bottom: none;
}
.card-seconds {
  border-bottom: none;
}
.category-color {
  border-left: 6px solid #9370DB;
  height: 2em;
  position:absolute;
  top: 12%;
  left: 88%;
}
/* Timer Screen */

.current-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -15%;
}

.activity-display {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  margin-bottom: -1%;
}

.description-display {
  font-size: 3em;
  font-weight: 500;
}
.countdown {
  font-family: 'Arial', sans-serif;
  font-size: 9em;
}

.minutes-left {
  margin-right: -.3em;
}

.seconds-left {
  margin-left: -.3em;
}

.circle-button-container {
  position: relative;
}

.start-button {
  background-color: #46424D;
  font-size: 2em;
  color: white;
  border: none;
  position: absolute;
  margin-top: 43%;
  margin-left: 33%;
  outline: none;
}

#complete {
  margin-left: 22%;
}

.circle-container {
  width: 20em;
  height: 19em;
}

.circle-characteristics {
  fill: none;
  stroke: #9370DB;
  stroke-width: .3em;
  cx: 10em;
  cy: 9.5em;
  r: 9em;
}

.log-button {
  font-family: 'Montaga', sans-serif;
  font-size: 1em;
  margin-top: 2%;
  width: 15em;
  height: 2.3em;
}

.clear-button {
  height: 5vh;
  width: 28vw;
  margin-left: 10vw;
  margin-top: 10vh;
}

.hidden {
  display: none;
}