body {
  background-color: #46424D;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}

.header {
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
}

main {
  display:flex;
  flex-direction: column;
  height: auto;
}

/* Left side of main form */
.header1 {
  background-color: #2B2733;
  font-family: 'Montserrat', sans-serif;
  color: white; 
  height: 1000px;
  width: 63%;
  padding-left: 2%;
  margin-left: -1%; 
  position: relative;
} 

.boxes {
  background-color: #46424D;          
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 600px;
  padding: 2% 0 0 8%;
  margin: 0 38% 0 1%;
  top: -930px;
  position: relative;
}

.category {
 background-size: contain;
}

.active { 
  color: white; 
  width: 100%;
  height: auto;
 
}

.description {  
  background: transparent;  
  border: none;  
  border-bottom: 1px solid #000000;  
  border-bottom-color: white;  
  border-bottom-width: thin;  
  padding:5px 10px;  
  outline:none;  
  box-shadow:none;
}

.minutes {
  background: transparent;  
  border: none;  
  border-bottom: 1px solid #000000;  
  border-bottom-color: white;  
  border-bottom-width: thin;  
  padding:5px 60px;  
  outline:none;  
  box-shadow:none;
}

.seconds {  
  background: transparent;  
  border: none;  
  border-bottom: 1px solid #000000;  
  border-bottom-color: white;  
  border-bottom-width: thin;  
  padding:5px 60px;  
  outline:none;  
  box-shadow:none;
}

/* Right side of main form */ 
.boxes2 {
  background-color: #2B2733;  
  color: white; 
  font-family: 'Montserrat', sans-serif;
  height: 1000px;
  width: 900px;
  padding-left: 2%;
  left: 65%;
  position: absolute;
} 

.hidden {
  display: none;
}

