/* * {
border: 1px solid red
} */

body {
  background-color: #46424D;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
}

.header {
  font-family: 'Montserrat', sans-serif;
  color: #CBC9CF;
  text-align: center;
  font-size: 0.688em;
}

main {
  display:flex;
  flex-direction: column;
  height: auto;
}

/* Left side of main form */
.header1 {
  background-color: #2B2733;
  font-family: 'Montserrat', sans-serif;
  color: #CBC9CF;
  height: 62.500em;
  width: 63%;
  padding-bottom: 10%;
  padding-left: 2%;
  margin-left: -1%;
  position: relative;
}

.boxes {
  background-color: #46424D;
  font-family: 'Montserrat', sans-serif;
  color: white;
  height: 37.500em;
  padding: 2% 0 5% 8%;
  margin: 0 36% 0 1%;
  top: -67em;
  position: relative;
}

.category {
  background-size: contain;
  padding-bottom: 3.125em;
}

.active {
  display:block;
  width: 9vw;
  height: 5vh;
  background: transparent;
}

.accomplish{
  font-size: 0.813em;
}

.description {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-bottom-color: white;
  border-bottom-width: thin;
  padding:0.313em 0.625em;
  outline:none;
  box-shadow:none;
}

.active-button {
  background-color: #46424D;
  border-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.938em;
  color: white;
  margin-right: 8.4%;
  border-radius: 0.52vh;
}

.description {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-bottom-color: white;
  border-bottom-width: thin;
  padding:5px 300px;
  outline:none;
  box-shadow:none;
}

.minutes-label {
  display:grid;
  padding-top: 10px;
  margin-bottom: 55px;
  margin-right: -65px;
}

.minutes {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-bottom-color: white;
  border-bottom-width: thin;
  padding:25px 90px;
  outline:none;
  box-shadow:none;
  margin-right: 5px;
}

.seconds-label {
  padding-top: 10px;
  margin-bottom: 40px;
  margin-left: 90px;
  margin-right: -65px;
}

.seconds {
  display: grid;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-bottom-color: white;
  border-bottom-width: thin;
  padding:5px 90px;
  outline:none;
  box-shadow:none;
}

.input {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  justify-content: flex-start;
  margin-top: 5.000em;
}

.start-activity{
  border-radius: 4px;
  text-align: center;
  width:11vw;
  height: 2vw;
  font-size: 16px;
  margin-bottom: 8vh;
  padding: 0;
  margin-top: 65px;
  margin-left: 540px;
}

/* Right side of main form */
.boxes2 {
  background-color: #2B2733;
  color: #CBC9CF;
  font-family: 'Montserrat', sans-serif;
  height: 78.4em;
  width: 54.5em;
  padding-left: 2%;
  left: 64.05%;
  position: absolute;
}

.activities-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 77vh;
  width: 28vw
}

.past-activities {
  width: inherit;
  height: 5vh;
  background-color: blue;
}

.box2-lead {
  font-size: 24px;
}


/* Timer Screen */
.current-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -15%;
}

.activity-display {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  margin-bottom: -1%;
}

.countdown {
  font-family: 'Arial', sans-serif;
  font-size: 9em;
}

.minutes-left {
  margin-right: -.3em;
}

.seconds-left {
  margin-left: -.3em;
}

.circle-button-container {
  position: relative;
}

.start-button {
  background-color: #46424D;
  font-size: 2em;
  color: white;
  border: none;
  position: absolute;
  margin-top: 43%;
  margin-left: 33%;
  outline: none;
}

#complete {
  margin-left: 22%;
}

.circle-container {
  width: 20em;
  height: 19em;
}

.circle-characteristics {
  fill: none;
  stroke: #9370DB;
  stroke-width: .3em;
  cx: 10em;
  cy: 9.5em;
  r: 9em;
}

.log-button {
  font-family: 'Montaga', sans-serif;
  font-size: 1em;
  margin-top: 2%;
  width: 15em;
  height: 2.3em;
}

.clear-button {
  height: 5vh;
  width: 28vw;
  margin-left: 10vw;
  margin-top: 10vh;
}

.hidden {
  display: none;
}
